img, video
        {
            display: block;
            margin-left: 5px;
            margin-right: 5px;
        }
        
#content h2
        {
            color: blue;
        }

/*Layout and colors etc */

#container
        {
            
            
            width: 720px; 
            margin-right: auto;
            margin-left: auto;
            background-color: #DFE2DB;
            
            
        }

#header
        {
            width: 610px;
            padding: 0px;
            padding-left: 110px;
        
        }




#nav
        {
            float: none;
            width: 720px;
            background-color: #FFF056; 
            
        }
        
#nav a
        {
            height: 20px;
            padding-top:10px;
            padding-bottom:10px;
        }
        
#content
        {
            float: left;
            width: 700px;
            padding-left: 10px;
            padding-right: 10px;
        
        }
#footer
        {
            
            clear: both;
            width: 710px;
            height: 50px;
            padding-right: 10px;
        }

body
        {
            width: 720px;
            margin-right: auto;
            margin-left: auto;
        }
                

        



/* Tables */

table
        {
            border-collapse: collapse;
            overflow: auto;
        }

#cform
        {
            width: 720px;
            border-collapse: collapse;
        }
        
/* img floating etc */

.right
        {
            float: none;
            border-style: none;

        }
.left
        {
            float: none;
            border-style: none;

        }