html, body
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }
        


img, video
        {
            max-width:480px;
            display: block;
            margin-left: 5px;
            margin-right: 5px;
        }
/* This is only used for testing */    
#content h2
        {
            color: blue;
        }

/*Layout and colors etc */

#container
        {
            width: auto;
        }

#header
        {
            font-size: 20px;
            width: auto;
            padding: 0px;
            background-image: none;
        }


#nav
        {
            display: block;
            float: none;
            width: auto;
            background-color: #FFF056; 
            
        }
        
#nav a
        {
            height: 20px;
            padding-top:10px;
            padding-bottom:10px;
        }
        
#content
        {
            float: left;
            width: auto;
            padding-left: 10px;
            padding-right: 30px;
        
        }
#footer
        {
            font-size: 10px;
            clear: both;
            width: auto;
            height: 15px;
            padding-top:5px;
            padding-bottom:5px;
            padding-right: 10px;
        }
        


/* Tables */

table
        {
            width: auto;
            max-width: 480px;
            border-collapse: collapse;
            overflow: auto;
        }

#cform
        {
            width: auto;
            max-width: 480px;
            border-collapse: collapse;
        }
        
/* img floating etc */

.right
        {
            float: none;


        }
.left
        {
            float: none;
     

        }