#container
        {
            border-style: solid;
            border-width: 1px;
            border-color: blue;
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
            
        }

#header
        {
            border-style: solid;
            border-width: 1px;
        }

#nav
        {
            border-style: solid;
            border-width: 1px;
        }
        
#content
        {
            border-style: solid;
            border-width: 1px;
            
        }
    
        
h1 
        {
            color: green;
        }