/* Färger
    background header,footer #191919
    background content #FFFFFF
    background nav #FFF056
    background container #DFE2DB
    
*/

#container
        {
            border-style: solid;
            border-width: 10px;
            border-color: #191919;
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
            background-color: #DFE2DB;
            
            
        }

#header
        {
            border-style: solid;
            border-width: 1px;
            background-color: #191919 ;
            
        }

#nav
        {
            float: left;
            border-style: solid;
            border-width: 1px;
            width: 20%;
            background-color: #FFF056;
            
        }
        
#content
        {
            
            width: 80%;
            margin-left: 20%;
            background-color: #FFFFFF;
        }
#footer
        {
            height: 50px;
            background-color: #191919;
            color: #FFFFFF;
        }
h1
        {
            color: #FFFFFF;
        }
        
