/* Färger
    background header,footer #00518B
    background content #D76900
    background nav #037084
    background container #FFAF49
    
*/

#container
        {
            border-style: solid;
            border-width: 1px;
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
            background-color: #FFAF49;
            
            
        }

#header
        {
            border-style: solid;
            border-width: 1px;
            background-color: #00518B;
        }

#nav
        {
            float: left;
            border-style: solid;
            border-width: 1px;
            width: 20%;
            background-color: #037084;
            
        }
        
#content
        {
            border-style: solid;
            border-width: 1px;
            width: 80%;
            margin-left: 20%;
            background-color: #D76900;
        }
#footer
        {
            border-style: solid;
            border-width: 1px;
            background-color: #00518B;
        }
    
        
